body
{
   
  background-image:url(R\ \(1\).jpeg);
    background-position:10cm;
    background-color: palegoldenrod;
    margin-left: 1cm;
    margin-right: 1cm;
    margin-top: 2cm;
    border: 2cm;
   
}

